# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Python Cache
# ==========================================

.pytest_cache/
.mypy_cache/

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Build Files
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Temporary Files
# ==========================================

*.tmp
*.bak